:host {
    flex: 1;
    max-width: 800px;
}

.fed-heading-1 {
    color: var(--color-text-primary);
}

.fed-button {
    background: var(--color-background-button);
    border-radius: 5px;
    border: 1px solid var(--color-border);
    outline: none;
    padding: 24px;

    &:hover {
        background: var(--color-background-button-hover);
        transition: all 0.2s ease-in-out;
    }

    &:focus {
        border: 2px solid var(--color-border-active);
    }
}

.fed-form {
    background: var(--color-background-form);
    border-radius: 10px;
    border: 1px solid var(--color-border);
    box-shadow: 10px 5px 5px var(--color-background-primary);
    padding: 18px;
    flex: 1;
}

.fed-input__wrapper {
    margin-bottom: 24px;
}
